<header>
  <nav class="navbar">
    <div class="navbar-brand">Drone Registration System</div>
    <ul class="nav-links">
      <li><a *ngIf="isLoggedIn()" [routerLink]="['/add-drone']">Add Drone</a></li>
      <li><a *ngIf="isLoggedIn()" [routerLink]="['/view-drones']">View Drones</a></li>
      <li><a *ngIf="!isLoggedIn()" [routerLink]="['/login']">Sign in</a></li>
      <li><a *ngIf="isLoggedIn()" (click)="signOut()">Sign out</a></li>
    </ul>
  </nav>
</header>

<main>
  
</main>

<router-outlet></router-outlet>
